# --- PostgreSQL Credentials ---
POSTGRES_USER=devopspr
POSTGRES_PASSWORD=tanmay0003
POSTGRES_DB=core_db

# --- MinIO Cloud Storage ---
MINIO_ROOT_USER=devopspr
MINIO_ROOT_PASSWORD=tanmay0003

# --- Backup Engine Config ---
BACKUP_INTERVAL_SECONDS=300
BACKUP_RETENTION_DAYS=7