# --- PostgreSQL ---
POSTGRES_USER=bdr_admin
POSTGRES_PASSWORD=ChangeMe_Pg_123
POSTGRES_DB=shopdb

# --- MinIO ---
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=ChangeMe_Minio_123

# --- Backup job ---
BACKUP_INTERVAL_SECONDS=300
BACKUP_RETENTION_DAYS=7